<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <h2 class="navbar-brand">DEMO MEAN CODING STANDARD</h2>
    </div>
  </div>
  <div class="row text-white">
    <div class="col-3 bg-info p-2">
      {{stores.length}} Stores
    </div>
    <ul>
      <li *ngFor="let st of stores">
        <h5>{{ st.name }}</h5>
      </li>
    </ul>
  </div>
</div>
